<div id="page-container" *ngIf="comics$ | async as comics;">
    <div *ngFor="let comic of comics">
        <div routerLink='/comics/{{comic.id}}'>
            <app-comic-card
                [title]=comic.title
                [images]=comic.images
                [thumbnail]=comic.thumbnail
                [creators]=comic.creators
            >
            </app-comic-card>
        </div>
    </div>

    <custom-pagination *ngIf="promotions.comics > 0 " 
        [collectionSize]="totalElements" 
        [pageSize]="itemsPerPage"
        [currentPage]="page" 
        (pageChange)="loadPage($event)"
    >
    </custom-pagination>
</div>