#page-container {
    width: 100%;
    max-width: 1400px;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 20px;
    margin: 0 auto;
    padding: 20px;
}

.comic-loading {
    padding-top: 50px;
    padding-bottom: 200px;
    text-align: center;
    font-size: 16px;
    line-height: 18px;
    color: #FFFFFF;
}

.search-form-container {
    width: 100%;
    max-width: 1400px;
    padding: 20px;
    margin: 0 auto;
}

.characters-container{    
    width: 100%;
    max-width: 1400px;
    padding: 0 20px;
    margin: 0 auto;

    max-height: 293px;
    overflow-y: scroll;
    overflow-x: hidden;
}

.search-form-container input {
    width: 100%;
    border: none;
    height: 35px;
    line-height: 35px;
    font-size: 16px;
    color: #000000;
    padding: 0 10px;
}

.character-item {
    background-color: #FFFFFF;
    color: #000000;
    padding: 10px 20px;
    border-top: 1px solid #666666;
    font-size: 14px;
    line-height: 18px;
    cursor: pointer;
}

.character-item:hover {
    background-color: #efefef;
}

@media (max-width: 1200px) {
    #page-container {
        grid-template-columns: repeat(4, 1fr);
    }
}

@media (max-width: 940px) {
    #page-container {
        grid-template-columns: repeat(3, 1fr);
    }
}

@media (max-width: 600px) {
    #page-container {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 480px) {
    #page-container {
        grid-template-columns: repeat(1, 1fr);
    }
}