<div class="card-container">
    <h1 class="card-container__title">{{title}}</h1>

    <div class="card-container__thumbnail">
        <img src="{{thumbnail.path}}.{{thumbnail.extension}}" />
    </div>
    <div class="card-container__images">
        <div class="card-container__image">
            <!--img src="{{comic.thumbnail.path}}.{{comic.thumbnail.extension}}" /-->
        </div>
    </div>
    <div class="card-container__creators">
        <div class="card-container__creator">
            <!--img src="{{comic.thumbnail.path}}.{{comic.thumbnail.extension}}" /-->
        </div>
    </div>
</div>
