#main {
    display: grid;
    max-height: 100vh;
    grid-template-columns: minmax(100%, 100%);
    grid-template-rows: 90px auto 50px;
    height: 100vh;
}

#main header {
    display: grid;
    grid-template-columns: 140px auto;
    width: 100%;
    padding: 20px;
    height: 90px;
    border-bottom: 1px solid #212121;
}

#main > section {
    padding: 20px;
}

#main nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: flex-end;
}

#main nav ul li {
    padding-left: 15px;
}

#main > section {
    overflow: auto;
}

#main footer {
    width: 100%;
    padding: 20px;
    border-top: 1px solid #212121;
    height: 50px;
}

#main footer p {
    text-align: center;
    text-transform: uppercase;
    font-size: 10px;
    color: #CCCCCC;
}

.header-button {
    border: none;
    background-color: transparent;
    border: 1px solid #FFFFFF;
    color: #FFFFFF;
    padding: 18px 20px;
    font-size: 14px;
    line-height: 14px;
    text-transform: uppercase;
    font-family: 'RobotoCondensed';
    cursor: pointer;
}

.header-button:hover,
.header-button.active {
    background-color: #ee4a33;
    border-color: #ee4a33;
}

.header-button:focus {
    outline: none;
}

@media (max-width: 480px) {
    #main header {
        grid-template-columns: 40px auto;
    }

    #main .marvel-logo svg path.p1,
    #main .marvel-logo svg path.p2 {
        display: none;
    }

    #main .marvel-logo svg rect {
        width: 37px;
    }
}