.container-pagination {
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 20px;
}

.btn-pagination {
    cursor: pointer;
    background-color: #FFFFFF;
    color: #000000;
    padding: 10px 20px;
    margin: 0 5px;
}

.btn-pagination:hover {
    background-color: #ee4a33;
    color: #FFFFFF;
}

.current-number {
    line-height: 16px;
    font-size: 16px;
    padding: 10px 20px;
}